@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,700&display=swap");
html {
  font-size: 62.5%;
}
@media (max-width: 768) {
  html {
    font-size: 58%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 2rem;
  font-family: "Ubuntu", "sans-serif";
}

a {
  text-decoration: none;
}

.defalut-btn {
  padding: 0.5rem 1rem;
  margin: 2rem;
}
.defalut-btn:hover {
  color: #fb923c;
  background-color: white;
  transition: all 0.5s ease;
}
.defalut-btn:hover:hover {
  color: #fb923c;
  background-color: white;
  transition: all 0.5s ease;
}

.sub-headings {
  color: #ea580c;
}

@media (max-width: 768px) {
  .non-displayed {
    display: none;
  }
}

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  position: fixed;
  width: 100vw;
  top: 0;
}
header .log a {
  color: #ea580c;
}
header .log a:hover {
  color: white;
}
header .bx-menu {
  width: 4rem;
  display: none;
}
@media (max-width: 480px) {
  header .bx-menu {
    display: block;
  }
}
header a {
  color: white;
  transition: all 0.5s ease;
}
header a:hover {
  color: #ea580c;
}
header .navigation {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
@media (max-width: 480px) {
  header .navigation {
    display: none;
  }
}
header .git-links .github {
  background-color: #ea580c;
  border-radius: 5px;
}

.hero {
  width: 100vw;
  margin-top: 5rem;
  display: flex;
  background-color: #071336;
}
@media (max-width: 480px) {
  .hero {
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
.hero .hero-left {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 480px) {
  .hero .hero-left {
    align-items: center;
    background-color: #ea580c;
    width: 100%;
  }
}
.hero .hero-left img {
  width: 300px;
}
@media (max-width: 480px) {
  .hero .hero-left img {
    width: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.hero .hero-right {
  width: 50%;
  background-color: #071336;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ea580c;
}
@media (max-width: 480px) {
  .hero .hero-right {
    padding: 1rem 0;
    width: 100%;
  }
}
.hero .hero-right span {
  color: white;
}
.hero .hero-right h1 {
  font-size: xx-large;
}
.hero .hero-right h2 {
  margin: 1rem 1rem;
}
.hero .hero-right button {
  background-color: #ea580c;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  font-weight: 500;
  padding: 1rem 2rem;
}
.hero .hero-right button:hover {
  background-color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 2rem;
  font-weight: 500;
}
.hero .hero-right button a {
  color: white;
}
.hero .hero-right button a:hover {
  color: #fb923c;
  background-color: white;
  transition: all 0.5s ease;
}

.about-section {
  padding: 5rem 10rem;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 4rem;
  color: white;
}
@media (max-width: 480px) {
  .about-section {
    flex-direction: column;
    padding: 2rem;
  }
}
.about-section .about-me {
  padding: 0 5rem;
  width: 50%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
@media (max-width: 480px) {
  .about-section .about-me {
    padding: 0 0.5rem;
    width: 100%;
    margin-bottom: 5rem;
  }
}
.about-section .about-me h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.about-section .my-experience {
  padding: 0 5rem;
  margin-left: 10rem;
  padding: 1rem 2rem;
  width: 50%;
}
.about-section .my-experience .years {
  display: flex;
  justify-content: start;
  width: 100vw;
  margin-top: 3rem;
}
.about-section .my-experience .years .counter {
  padding: 1rem;
  font-weight: bolder;
  margin-right: 5rem;
  border-right: solid 2px orangered;
}
.about-section .my-experience .years .counter h1 {
  color: #ea580c;
  font-size: 3rem;
  margin-right: 3rem;
}

.services-sec {
  width: 100%;
  background-color: red;
}/*# sourceMappingURL=style.css.map */