@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,700&display=swap");
html {
  font-size: 62.5%;
}
@media (max-width: 768) {
  html {
    font-size: 58%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 2rem;
  font-family: "Ubuntu", "sans-serif";
}

a {
  text-decoration: none;
}

.defalut-btn {
  padding: 0.5rem 1rem;
  margin: 2rem;
}
.defalut-btn:hover {
  color: #fb923c;
  background-color: white;
  transition: all 0.5s ease;
}
.defalut-btn:hover:hover {
  color: #fb923c;
  background-color: white;
  transition: all 0.5s ease;
}

.sub-headings {
  color: #ea580c;
}

@media (max-width: 768px) {
  .non-displayed {
    display: none;
  }
}

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  position: fixed;
  width: 100vw;
  top: 0;
}
header .log a {
  color: #ea580c;
}
header .log a:hover {
  color: white;
}
header .bx-menu {
  width: 4rem;
  display: none;
}
@media (max-width: 480px) {
  header .bx-menu {
    display: block;
  }
}
header a {
  color: white;
  transition: all 0.5s ease;
}
header a:hover {
  color: #ea580c;
}
header .navigation {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
@media (max-width: 480px) {
  header .navigation {
    display: none;
    border-radius: 5px;
    padding: 0.5rem;
    position: fixed;
    top: 6.4rem;
    left: 14rem;
    flex-direction: column;
    background-color: rgba(100, 91, 91, 0.5);
  }
}
header .active {
  display: flex;
}
header .git-links .github {
  background-color: #ea580c;
  border-radius: 5px;
}

.hero {
  width: 100vw;
  margin-top: 5rem;
  display: flex;
  background-color: #071336;
  position: relative;
}
@media (max-width: 480px) {
  .hero {
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
.hero .hero-left {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 480px) {
  .hero .hero-left {
    align-items: center;
    background-color: #ea580c;
    width: 100%;
  }
}
.hero .hero-left img {
  width: 300px;
}
@media (max-width: 480px) {
  .hero .hero-left img {
    width: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.hero .hero-right {
  width: 50%;
  background-color: #071336;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ea580c;
}
@media (max-width: 480px) {
  .hero .hero-right {
    padding: 1rem 0;
    width: 100%;
  }
}
.hero .hero-right span {
  color: white;
}
.hero .hero-right h1 {
  font-size: xx-large;
}
.hero .hero-right h2 {
  margin: 1rem 1rem;
}
.hero .hero-right button {
  background-color: #ea580c;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  font-weight: 500;
  padding: 1rem 2rem;
}
.hero .hero-right button:hover {
  background-color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 2rem;
  font-weight: 500;
}
.hero .hero-right button a {
  color: white;
}
.hero .hero-right button a:hover {
  color: #fb923c;
  background-color: white;
  transition: all 0.5s ease;
}

.about-section {
  padding: 5rem 10rem;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 4rem;
  color: white;
}
@media (max-width: 480px) {
  .about-section {
    flex-direction: column;
    padding: 2rem;
  }
}
.about-section .about-me {
  padding: 0 5rem;
  width: 50%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
@media (max-width: 480px) {
  .about-section .about-me {
    padding: 0 0.1rem;
    width: 100%;
    margin-bottom: 5rem;
  }
}
.about-section .about-me h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.about-section .my-experience {
  padding: 0 5rem;
  margin-left: 10rem;
  padding: 1rem 2rem;
  width: 50%;
  margin-right: 2rem;
}
.about-section .my-experience .years {
  display: flex;
  justify-content: start;
  width: 100vw;
  margin-top: 3rem;
}
.about-section .my-experience .years .counter {
  padding: 1rem;
  font-weight: bolder;
  margin-right: 5rem;
  border-right: solid 2px orangered;
}
.about-section .my-experience .years .counter h1 {
  color: #ea580c;
  font-size: 3rem;
  margin-right: 3rem;
}

.services-sec {
  width: 100%;
}
.services-sec .top-services {
  background-color: #071336;
  width: 100%;
  color: white;
  text-align: center;
  margin: 0;
  padding: 1rem 0 0 0;
}
@media (max-width: 480px) {
  .services-sec .top-services {
    padding: 1rem;
  }
}
.services-sec .btm-services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  background-color: #071336;
}
@media (max-width: 480px) {
  .services-sec .btm-services {
    background-color: #071336;
  }
}
.services-sec .btm-services .service-one {
  background-color: #ea580c;
  border-radius: 1rem;
  margin: 2rem 2rem;
  padding: 2rem;
}
.services-sec .btm-services .service-one h2 {
  text-align: center;
}

.contact-card {
  left: 25rem;
  width: 30%;
  background-color: #ea580c;
  position: absolute;
}
.contact-card .card-header {
  width: 100%;
  background-color: #071336;
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-card .card-body {
  padding: 2rem;
}
.contact-card .card-body .contactone {
  padding: 0 1.5rem;
  display: flex;
  margin-top: 2rem;
}
.contact-card .card-body .contactone .contactone {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.contact-card .card-body .contactone .contactone h5 {
  margin-left: 2px;
}
.contact-card .card-footer {
  background-color: #071336;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.contact-card .card-footer a {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #ea580c;
  color: white;
  border: none;
  border-radius: 5px;
}

.projects-sec {
  width: 100%;
  background-color: black;
}
.projects-sec .top-services {
  width: 100%;
  color: white;
  text-align: center;
  margin: 0;
  padding: 1rem 0 0 0;
}
@media (max-width: 480px) {
  .projects-sec .top-services {
    padding: 1rem;
  }
}
.projects-sec .btm-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  background-color: rgb(0, 0, 0);
}
@media (max-width: 480px) {
  .projects-sec .btm-projects {
    background-color: #071336;
  }
}
.projects-sec .btm-projects .project-one {
  height: 30rem;
  background-image: linear-gradient(rgba(7, 11, 81, 0.403), rgba(237, 138, 9, 0.595)), url("../assets/photos/holy.JPG");
  background-position: center;
  background-size: cover;
  border-radius: 0.2rem;
  margin: 2rem 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
}
.projects-sec .btm-projects .project-one a {
  text-decoration: none;
  color: white;
  background-color: #ea580c;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 2rem;
}
.projects-sec .btm-projects .project-one a:hover {
  background-color: white;
  color: #ea580c;
}
.projects-sec .btm-projects .project-one h2 {
  text-align: center;
}
.projects-sec .btm-projects .project-one .animate-on-scroll {
  opacity: 0;
  transform: translate(-300px, 0);
  transition: all 0.4s ease-out;
  transition-delay: 0.2s;
}
.projects-sec .btm-projects .project-one-two {
  height: 30rem;
  background-image: linear-gradient(rgba(7, 11, 81, 0.403), rgba(237, 138, 9, 0.595)), url("../assets/photos/bee.JPG");
  background-position: center;
  background-size: cover;
  border-radius: 0.2rem;
  margin: 2rem 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
}
.projects-sec .btm-projects .project-one-two a {
  transition: 0.5s ease;
  text-decoration: none;
  color: white;
  background-color: #ea580c;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 2rem;
}
.projects-sec .btm-projects .project-one-two a:hover {
  transition: 0.5s ease;
  background-color: white;
  color: #ea580c;
}
.projects-sec .btm-projects .project-one-two h2 {
  text-align: center;
}
.projects-sec .btm-projects .project-one-three {
  height: 30rem;
  background-image: linear-gradient(rgba(7, 11, 81, 0.403), rgba(237, 138, 9, 0.595)), url("../assets/photos/modern.JPG");
  background-position: center;
  background-size: cover;
  border-radius: 0.2rem;
  margin: 2rem 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
}
.projects-sec .btm-projects .project-one-three a {
  text-decoration: none;
  color: white;
  background-color: #ea580c;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 2rem;
  transition: 0.5s ease;
}
.projects-sec .btm-projects .project-one-three a:hover {
  background-color: white;
  color: #ea580c;
}
.projects-sec .btm-projects .project-one-three h2 {
  text-align: center;
}

.skills-sec {
  width: 100%;
  background-color: #071336;
}
.skills-sec .top-skills {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #ea580c;
  color: white;
  text-align: center;
  margin: 0;
  padding: 1rem 0 0 0;
}
@media (max-width: 480px) {
  .skills-sec .top-skills {
    padding: 1rem;
  }
}
.skills-sec .btm-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  background-color: #071336;
}
@media (max-width: 480px) {
  .skills-sec .btm-skills {
    background-color: #071336;
  }
}
.skills-sec .btm-skills .skill-one {
  height: 30rem;
  background-image: url("../assets/photos/html css.png");
  background-color: #fb923c;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  border-radius: 0.2rem;
  margin: 2rem 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
}
.skills-sec .btm-skills .skill-one h2 {
  text-align: center;
}
.skills-sec .btm-skills .skill-one-two {
  height: 30rem;
  background-image: url("../assets/photos/javascript.png");
  background-position: center;
  background-size: cover;
  background-color: #fb923c;
  border-radius: 0.2rem;
  margin: 2rem 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
}
.skills-sec .btm-skills .skill-one-two h2 {
  text-align: center;
}
.skills-sec .btm-skills .skill-one-three {
  height: 30rem;
  background-image: url("../assets/photos/php mysql.jpg.png");
  background-position: center;
  background-color: #fb923c;
  background-blend-mode: multiply;
  background-size: cover;
  border-radius: 0.2rem;
  margin: 2rem 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
}
.skills-sec .btm-skills .skill-one-three h2 {
  text-align: center;
}

.footer .top-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  color: white;
  background-color: black;
}
.footer .top-footer .card {
  align-items: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer .top-footer .card a {
  transition: 0.5s ease;
}
.footer .top-footer .card a:hover {
  color: #ea580c;
}
.footer .top-footer .card input {
  border: none;
}
.footer .top-footer .card .email {
  padding: 1rem;
  border-radius: 5px;
  margin-top: 2rem;
}
.footer .top-footer .card .btn-send {
  color: white;
  background-color: #ea580c;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 2rem;
}
.footer .top-footer .card .btn-send:hover {
  color: #ea580c;
  background-color: white;
}
.footer .bottom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 1rem;
  border-top: 2px solid #ea580c;
}
.footer .bottom-footer h2 a {
  color: #ea580c;
}

.animate {
  opacity: 1;
  transform: translate(0, 0);
}/*# sourceMappingURL=style.css.map */