@import "./COMPONENTS/variables";
@import "./COMPONENTS/global";
@import "./COMPONENTS/header";
@import "./COMPONENTS/hero";
@import "./COMPONENTS/about";
@import "./COMPONENTS/services";
@import "./COMPONENTS/contact-modal";
@import "./COMPONENTS/projects";


@import "./COMPONENTS/footer";





