.contact-card{
    width: 30%;
    background-color:$secondary-dark-color;
    // padding: 2rem;
    .card-header{
        width: 100%;
        background-color: $black-color;
        color: $white-color;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-body{
        padding: 2rem;
        .contactone{
            padding: 0 1.5rem;
            display: flex;
            margin-top: 2rem;
            
        }
    }

}