.footer{
    // padding: .5rem;
    .top-footer{
        display: grid;
        // flex-direction: column;
        // justify-content: space-between;
        grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
        color: $white-color;
        background-color: $black-color;
        .card{
            a{
                transition: .5s ease;
                &:hover{
                    color: $secondary-dark-color;
                } 
            }
            input{
                border: none;
            }
            // border-left: 2px solid $secondary-dark-color;
            align-items: center;
            // justify-content: center;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            .email{
                padding: 1rem;
                border-radius: 5px;
                margin-top: 2rem;
            }
            .btn-send{
                color: $white-color;
                background-color: $secondary-dark-color;
                padding: 1rem;
                border-radius: 5px;
                margin-top: 2rem;
                
                &:hover{
                    color: $secondary-dark-color;
                    background-color:$white-color;
                }
            }
        }
    }
    .bottom-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-decoration: none;
        background-color: $black-color;
        color: $white-color;
        padding: 1rem;
        border-top: 2px solid $secondary-dark-color;
        h2{
            a{
                color: $secondary-dark-color;
            }
        }
    }
}