
html{
    font-size: 62.5%;
    @media  (max-width:768){
        font-size: 58%;
    }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 2rem;
    font-family: $default-font;

}


a{
    text-decoration: none;
    // color: black;
}
.defalut-btn{
    padding: .5rem 1rem;
    margin:2rem;
    &:hover{
        color:$light-sec-color;
        background-color: $white-color;
        transition: all .5s ease;
        &:hover{
            color:$light-sec-color;
            background-color: $white-color;
            transition: all .5s ease;
        }
    }
}

.sub-headings{
    color: $secondary-dark-color;
}
.non-displayed{
    @media (max-width:768px){
        display: none;
    }
}