
html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 2rem;
    font-family: $default-font;

}


a{
    text-decoration: none;
    // color: black;
}
.defalut-btn{
    padding: .5rem 1rem;
    margin:2rem;
    &:hover{
        color:$light-sec-color;
        background-color: $white-color;
        transition: all .5s ease;
        &:hover{
            color:$light-sec-color;
            background-color: $white-color;
            transition: all .5s ease;
        }
    }
}
