header{
    background-color: $black-color;
    color: $white-color;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    // position: fixed;
    top: 0;
    .bx-menu{
        width: 4rem;
        display: none;
    }
    a{
        color: $white-color;
        transition: all .5s ease;
        &:hover{
            color: $secondary-dark-color;
           

        }
    }
    .navigation{
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
    }
    .git-links{
        .github{
            background-color: $secondary-dark-color;
            border-radius: 5px;
            
        }
    }

}
