header{
    background-color: $black-color;
    color: $white-color;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    position: fixed;
    width: 100vw;
    top: 0;
    .log{
        a{
            color: $secondary-dark-color;
        &:hover{
            color:$white-color;
        }
        }
    }
    .bx-menu{
        width: 4rem;
        display: none;
        @media (max-width:480px){
            display: block;
        }
    }
    a{
        color: $white-color;
        transition: all .5s ease;
        &:hover{
            color: $secondary-dark-color;
           

        }
    }
    .navigation{
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        @media (max-width:480px){
            display: none;
            border-radius: 5px;
            padding: .5rem;
            // display: flex;
            position: fixed;
            top:6.4rem;
            left: 14rem;
            flex-direction: column;
            background-color: rgba($color: #645b5bbe, $alpha: .5);

        }
    }
    .git-links{
        .github{
            background-color: $secondary-dark-color;
            border-radius: 5px;
            
        }
    }

}
