header{
    background-color: $black-color;
    color: $white-color;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    a{
        color: $white-color;
        transition: all .5s ease;
        &:hover{
            color: $secondary-dark-color;
           

        }
    }
    .navigation{
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
    }

}
