.hero{
    width: 100vw;
    margin-top: 5rem;
    display: flex;
    background-color: $primary-color-dark;
    @media (max-width:480px){
        flex-direction: column;
        margin-bottom: 5rem;

    }
    .hero-left{
        width: 50%;
        display: flex;
        justify-content: center;
        @media (max-width:480px){
            align-items: center;
            background-color:$secondary-dark-color;
            width: 100%;
           
        }
        img{
            width: 300px;
            @media (max-width:480px){
                width: 250px;
                object-fit: cover;
            }
        }
    }
    .hero-right{
        width: 50%;
        background-color:$primary-color-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $secondary-dark-color;
        @media (max-width:480px){
            padding: 1rem 0;
            width: 100%;
        }
        span{
            color:$white-color;
        }
        h1{
            font-size: xx-large;
        }
        h2{
            margin: 1rem 1rem;
        }
        button{
            background-color: $secondary-dark-color;
            text-decoration: none;
            border-radius: 5px;
            padding: .5rem 1rem;
            margin-top: 2rem;
            font-weight: 500;
            padding: 1rem 2rem;
            &:hover{
            background-color: $white-color;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 2rem;
            font-weight: 500;
            }
            a{
                color:$white-color;
                &:hover{
                    color:$light-sec-color;
                    background-color: $white-color;
                    transition: all .5s ease;
                }
            }
        }


    }
}