.services-sec{
    width: 100%;
    .top-services{
        background-color: blue;
        width: 100%;
    }
    .btm-services{
        background-color:white;
        width: 100%;
        .service-one{
            width: 30%;
            background-color: yellow;
            border-radius: 1rem;
            margin: 2rem 2rem;
            padding: 2rem;
        }
    }
}