.services-sec{
    width: 100%;
    .top-services{
        background-color: blue;
        width: 100%;
    }
    .btm-services{
        background-color:$primary-color-dark;
        width: 100%;display: flex;
        justify-content: center;
        align-items: center;
        .service-one{
            width: 30%;
            background-color:$secondary-dark-color;
            border-radius: 1rem;
            margin: 2rem 2rem;
            padding: 2rem;
            h2{
                text-align: center;
                margin: 1rem;
            }
        }
    }
}