// **VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,700&display=swap');

$primary-color-dark:#071336;
$mid-primary-color:#1e40af;
$light-primary-color:#1d4ed8;
$secondary-dark-color:#ea580c;
$mid-secondary-color:#f97316;
$light-sec-color:#fb923c;
$black-color:black;
$white-color:white;
$default-font:'Ubuntu', "sans-serif";
